.favorite-button {
  padding: 0.5rem 1rem;
  border: 1px solid #f0b478;
  border-radius: 0.25rem;
  background-color: white;
  color: #f0b478;
  cursor: pointer;
  transition: background-color 0.2s;
}

.favorite-button.active {
  background-color: #f0b478;
  color: white;
}

.favorite-button:hover {
  background-color: #141414;
  color: white;
}
